appdirs==1.4.0
click==6.7
Flask==0.12
Flask-SQLAlchemy==2.1
itsdangerous==0.24
Jinja2==2.9.4
MarkupSafe==0.23
packaging==16.8
psycopg2==2.6.2
pyparsing==2.1.10
six==1.10.0
SQLAlchemy==1.1.5
Werkzeug==0.11.15
Flask-Bcrypt==0.7.1
ipython==5.2.1
ipython-genutils==0.1.0