.link {
  stroke: #ccc;
}

.node text {
  pointer-events: none;
  font: 9px helvetica;
  letter-spacing: 2px;
}

svg {
    display:block;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
}

#user_d3 {
    width: 800;
    margin-left: 0;
    margin-right: auto;
}

d3-tip {
    line-height: 1;
    color: black;
}

#d3-div {
    display: inline-block;
    position: relative;
    width: 90%;
    padding-bottom: 40%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}

.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}