.link {
  stroke: #ccc;
}

#user_d3 .link {
  stroke: #aaa;
}

.node text {
  pointer-events: none;
  font: 9px helvetica;
  letter-spacing: 2px;
}

svg {
  display:block;
  margin-left: auto;
  margin-right: auto;
  background-color:rgba(255,255,255,0.6);
  border-radius: 4px;
  margin-top: -200px;
}

#user_d3 {
  margin-left: 0;
  margin-right: auto;
  margin-top: 0;
}

.d3-tip {
  line-height: 1;
  color: white;
  background-color: #5bc0de;
  opacity: 0.5;
  /*padding: 5px;*/
  box-shadow: 0 0 10px 2px #5bc0de;
}

#d3-div {
  display: inline-block;
  position: relative;
  padding-bottom: 100%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
  margin-top: 5%;
}

#user_d3.svg-content-responsive {
  display: inline-block;
  position: absolute;
  width: 300;
  left: 0;
}

/*homed3*/

#home_d3 {
  margin-left: 20%;
  margin-top: 15%;
  border: 1px solid #000000;
}


#home_d3.svg-content-responsive {
  display: inline-block;
  position: absolute;
  width: 500;
  top: 10px;
  left: 0;
}
/*homed3*/
