.link {
  stroke: #ccc;
}

.node text {
  pointer-events: none;
  font: 9px helvetica;
  letter-spacing: 2px;
}

svg {
  display:block;
  margin-left: auto;
  margin-right: auto;
  background-color:rgba(255,255,255,0.6);
  border-radius: 4px;
}

#user_d3 {
  margin-left: 0;
  margin-right: auto;
}

d3-tip {
  line-height: 5;
  color: black;
}

#d3-div {
  display: inline-block;
  position: relative;
  width: 80%;
  padding-bottom: 40%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
  margin-top: 5%;
}

.svg-content-responsive {
  display: inline-block;
  position: absolute;
  width: 800;
  top: 10px;
  left: 0;
}

/*home*/

#home-d3-div {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 40%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
  margin-top: 8%;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-size: 70px;
}

#home_d3 {
  margin-left: 20%;
  margin-top: 8%;
  border: 1px solid #000000;
}