/* homepage */

navbar-header {
    width: 30px;
    float: left;
    margin-top: 7px;
    margin-right: 7px;
}

navbar-right {
  margin-right: 30px;
}

/*"already have an account? and don't have an account?"*/
h5 {
  font-weight: bold;
  background:rgba(255,255,255,0.6);
  border-radius: 25px;
  text-align: center;
}

html {
    overflow: scroll;
}

body {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  background: url(/static/img/home2.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.header {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  background: url(/static/img/home2.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.form-signup {
  max-width: 330px;
  margin: 5em auto 0 auto;  /* TRBL */
}

/* login form */

.form-signin {
  max-width: 330px;
  margin: 5em auto 0 auto;  /* TRBL */
}

#bottom-padding {
  margin-top: 150px;
}

table {
  font-family: serif;
  font-size: 13px;
  table-layout: fixed;
}

#update-balance-form {
  font-family: serif;
  font-size: 13px;
}

#transfer-form {
  font-family: serif;
  font-size: 13px;
  margin-bottom: -0.5em;
  color: #3d5b8c;
}

#home label {
  max-width: 700px;
  margin: 2em auto 0 auto;  /* TRBL */
  font-family: serif;
  font-size: 13px;
}

#home select {
  font-family: serif;
  font-size: 13px;
}


#home input {
  font-family: serif;
  font-size: 13px;
}

input label {
  float:right;
  margin:5px;
}

.glyphicon-minus-sign {
  color: #b45151;
}

datalist {
  font-family: serif;
}

#transaction-history_wrapper {
  overflow-x: scroll;
  overflow-y: scroll;
  white-space: nowrap;
  font-family: serif;
  font-size: 13px;
}

#program-balance_wrapper {
  overflow-x: scroll;
  white-space: nowrap;
  font-family: serif;
  font-size: 13px;
}

#program-balance {
  table-layout: auto;
}

.refresh {
  display: inline-block;
  vertical-align: middle;
  margin-top: 25px;
  background-color: #5d9451;
  border-radius: 25px;
  color: #FFFFFF;
  border: none;
  font-family: serif;
  font-size: 13px;
}

.panel-heading {
  font-family: serif;
  font-size: 13px;
}

.navbar {
  background:rgba(255,255,255,0.1);
  background-image: none;
  border-bottom: none;
  background-repeat: no-repeat;
  font-size: 15px;
 }

 #brand {
  font-size: 40px;
  font-family: 'Raleway', sans-serif;
  color: #FFFFFF;
 }

.navbar .brand, .navbar .nav > li > a {
    color: #DDDDDD;
}
.navbar .brand, .navbar .nav > li > a:hover {
    color: #FFFFFF;;
}