/* homepage */

navbar-header {
    width: 30px;
    float: left;
    margin-top: 7px;
    margin-right: 7px;
}

navbar-right {
  margin-right: 30px;
}

h5 {
    font-weight: bold;
}

html {
    overflow: scroll;
}


#img.source-image {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

body {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  background: url(/static/img/home2.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.transparent h5 {
  background:rgba(255,255,255,0.3);
}

.header {
display: table;
position: relative;
width: 100%;
height: 100%;
background: url(/static/img/home2.jpg) no-repeat center center;
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
-o-background-size: cover;
}

.form-signup {
  max-width: 330px;
  margin: 5em auto 0 auto;  /* TRBL */
}

/* login form */

.form-signin {
  max-width: 330px;
  margin: 5em auto 0 auto;  /* TRBL */
}

#bottom-padding {
  margin-top: 150px;
}

table {
  font-family: serif;
  font-size: 13px;
  table-layout: fixed;
}

#update-balance-form {
  font-family: serif;
  font-size: 13px;
  margin-bottom: -1em;
}

#transfer-form {
  font-family: serif;
  font-size: 13px;
  margin-bottom: -1em;
}

#home label {
  max-width: 700px;
  margin: 2em auto 0 auto;  /* TRBL */
  font-family: serif;
  font-size: 13px;
}

#home select {
  font-family: serif;
  font-size: 13px;
}


#home input {
  font-family: serif;
  font-size: 13px;
}

input label {
  float:right;
  margin:5px;
}

.glyphicon-minus-sign {
  color: #b45151;
}

datalist {
  font-family: serif;
}

#transaction-history_wrapper {
  overflow-x: hidden; /* this is what fixes the expansion */
  white-space: nowrap;
  font-family: serif;
  font-size: 13px;
}

#program-balance {
  table-layout: auto;
}

.refresh {
  display: inline-block;
  vertical-align: middle;
}

.panel-heading {
  font-family: serif;
  font-size: 13px;
}

.navbar {
  background:rgba(255,255,255,0.1);
  background-image: none;
  border-bottom: none;
  background-repeat: no-repeat;
  font-size: 15px;
 }

 #brand {
  font-size: 40px;
  font-family: 'Raleway', sans-serif;
  color: #FFFFFF;
 }

.navbar .brand, .navbar .nav > li > a {
    color: #DDDDDD;
}
.navbar .brand, .navbar .nav > li > a:hover {
    color: #FFFFFF;;
}