/* landing page */
html {
  visibility:hidden;
}

.row {
    margin-right: auto;
    margin-left: auto;
}

html::-webkit-scrollbar {
   display: none;
}

.intro-header#no-scroll {
  overflow: hidden;
}

.intro-header {
  overflow-y: scroll;
  overflow-x: hidden;
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  background: url(/static/img/home.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.about-header, .contact-header {
  display: table;
  position: relative;
  width: 100%;
  height: 900px;
  background-color: #FFFFFF;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}


.contact-header {
  height: 93%;
}

.contact-header {
  background-color: #00A99E;
  color: ghostwhite;
}
.about-header span {
  color: teal;
}

.intro-message {
  font-family: 'Lato', sans-serif;
  color: ghostwhite;
  max-width: 380px;
  margin: 15% auto auto 10%;
  border-radius: 25px;
  border: 1px solid #FFFFFF;
  padding: 2em; 
}

.intro-message > h1, 
.register-section > h1 {
  margin: 0;
  font-size: 5em;
}

.intro-message > h4, .register-section > h4 {
  margin: 15px 0 0 0;
}


#home-d3-div {
  display: inline-block;
  position: relative;
  padding-bottom: 50%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-size: 70px;
}

#about-us-div {
  display: inline-block;
  position: relative;
  vertical-align: top;
  overflow: hidden;
  margin-top: 8.5%;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-size: 70px;
}

span.decide {
  color: #F96872;
  font-weight: bolder;
 }

#about-div img {
  margin-left: 15px;
  height: 20px;
  margin-right: 15px;
}

#about-div img#click {
  margin-right: 20px;
}

#about-div {
  display: inline-block;
  position: relative;
  vertical-align: top;
  overflow: hidden;
  margin-top: 10%;
  font-family: 'Work Sans', sans-serif;
  font-size: 17px;
}

#contact-us-div {
  text-align: center;
  margin-top: 8%;
  font-family: 'Work Sans', sans-serif;
  font-size: 70px;
  color: ghostwhite;
}

.contact-row {
    text-align: center;
}

.contact-message {
  font-family: 'Lato', sans-serif;
  color: ghostwhite;
}

#ratio-colon {
  font-size: 40px;
  color: ghostwhite;
}

#feedback-type {
  height: 42px;
  font-size: 17px;
}

.ratio-group {
  margin-top: -30px;
  color: #555;
}

#login-btn, #dashboard-btn {
  float: right;
  margin: 0.5em 0 0 2em;
  border: 1px solid #FFFFFF;
  background: transparent;
  font-weight: bold;
}

#login-btn:hover, #dashboard-btn:hover {
  background-color: #12133d;
  margin: 0.5em 0 0 2em;
  border: 1px solid transparent;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 70px;
}
#footer {
  background-color: #12133d;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    padding-left: 20px;
    padding-right: 20px;
  }
}

#footer-text a i{
  padding: 15px 0 10px 0;
  color:ghostwhite;
  font-size: 35px;
}

.homepage-flash {
  font-family: 'Lato', sans-serif;
  max-width: 850px;
  margin: 2% auto 0 10%;
}

/*landing page css end*/

/* login modal */
.modal-backdrop.in {
    opacity: 0.7;
}

.modal {
  margin: 10em auto;
  border-radius: 20px;
}

.login-form {
  max-width: 330px;
  margin: 5em 0;
}

#submit-login-btn {
  float: right;
  margin: 1em 0 1em 2em;
  border: 1px solid transparent;
  background: #12133d;
  font-weight: bold;
}

#submit-login-btn:hover {
  margin: 0 0 1em 2em;
}

.modal-open[style] {
  padding-right: 0 !important;
}

.modal-open .modal,.btn:focus {
  outline:none !important;
  overflow: hidden;
}

.modal-content {
  max-width: 450px;
  margin: auto;
  color: white;
  font-weight: bold;
  padding: 10px 10px 10px 35px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  margin-bottom: 10px;
  max-height: 450px;
  background: url(/static/img/modal1.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.modal-content img {
  max-width: 600;
  margin-top: -130;
  border-radius: 61px;
  position: relative;
  left: -48%;
}

.modal h5 {
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
  font-weight: lighter;
}

.modal-body {
  position: relative;
  padding: 15px;
  height: 310px;
}

.modal a {
  color: #FFFFFF;
  font-weight: 900;
  text-decoration: italic;
}

#login-flash {
  margin: 0.5em 0 -4.2em 0;
}

.login-section {
  margin-top: 50px;
}

#password-field {
  margin-top: 1em;
}

/*.form-group {
    margin-bottom: 0.7em;
}
*/

/* login modal end */

/*register page*/

.register-section{
  font-family: 'Lato', sans-serif;
  color: ghostwhite;
  max-width: 425px;
  margin: 8% auto auto 10%;
  border-radius: 25px;
  border: 1px solid #FFFFFF;
  padding: 2em; 
}

.register-flash {
  font-family: 'Lato', sans-serif;
  max-width: 425px;
  margin: 0 auto 0 10%;
}

/*.register-flash-row {

*/}
#fname-field {
  margin-top: -30px;
  margin-bottom: 0.5em;
}

.register-section h5 {
  color: white;
  font-family: 'Lato', sans-serif;
}

#signup-form {
  max-width: 400px;
  margin: 3em auto 0 auto;  /* TRBL */
}

#submit-signup-btn, #submit-feedback-btn {
  float: right;
  margin: 0.5em 0 1em 2em;
  border: 1px solid transparent;
  background: #12133d;
  font-weight: bold;
}

#submit-feedback-btn {
  background-color: #F96872;
}

h5 a {
  font-family: 'Lato', sans-serif;
  font-weight: bolder;
  color: #FFFFFF;
  font-size: 14px;
  text-decoration: underline;
}


label.error {
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
}


/*register page end*/

/*main dashboard */


a.navbar-brand {
  font-size: 3em;
  font-family: 'Lato', sans-serif;
}

.navbar-fixed-left {
  width: 180px;
  position: fixed;
  border-radius: 0;
  height: 100%;
  background: #12133d;
  text-align: center;
  font-size: 1.1em;
  font-family: 'Lato', sans-serif;
}

.navbar-fixed-left .navbar-nav > li {
  width: 139px;
  color: ghostwhite;
}


.navbar-inverse .navbar-nav > li > a {
  color: ghostwhite;
  margin-left: 2.5em;
  margin-bottom: 2em;
  margin-top: 0;
}

a span {
  display:block;
  border-bottom:3px solid white;
  width: 50%;
  padding-bottom: 4px;
  margin-left: 1.2em;
}

.dashboard-wrapper {
  min-width:500px;
  padding: 0 15px;
}

.navbar-fixed-left + .container {
  padding-left: 160px;
}

.d3-section {
  text-align: center;
}


/*main dashboard end*/

#update-balance-form, #transfer-form, .alert-message, #optimization-form {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', "sans-serif";
  font-size: 13px;
  max-width: 350px;
  color: #666;
}

#optimization-form {
  max-width: 500px;
}

/*program-balance table*/

.glyphicon-minus-sign {
  color: #b45151;
}

/*activity dashboard*/

#transaction-history_wrapper, #program-balance_wrapper, #transfer-history_wrapper {
  overflow-x: scroll;
  white-space: nowrap;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', "sans-serif";
  font-size: 13px;
}

::-webkit-scrollbar {
    width: 0;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

#program-balance_wrapper {
  margin-top: 0;
}

/* side nav */

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 180px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 180px;
    width: 0;
    height: 100%;
    margin-left: -180px;
    overflow-y: auto;
    background: #333333;
;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 180px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -180px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 180px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 5px;
    line-height: 40px;
    margin-right: 0;
    margin-left: 15px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
    margin: 10px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
    margin-right: 0;
    margin-left: 15px;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  font-size: 3em;
  font-family: 'Lato', sans-serif;
  height: 65px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  margin-left: 32%;
  margin-top: 20%;
  color: ghostwhite;
}

.sidebar-nav > .sidebar-brand {
  margin-bottom: 15%;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: ghostwhite;
  background-color: transparent;
  margin-left: 32%;
  margin-top: 20%;
}


@media(min-width:768px) {
  #wrapper {
      padding-left: 180px;
  }

  #wrapper.toggled {
      padding-left: 0;
  }

  #sidebar-wrapper {
      width: 200px;
  }

  #wrapper.toggled #sidebar-wrapper {
      width: 0;
  }

  #page-content-wrapper {
      padding: 20px;
      position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
      position: relative;
      margin-right: 0;
  }
}

/* optimization page */

#optimization-form {
  font-size: 13.5px;
  color: #666;
}

input.btn.btn-info.reset-btn, .toggle-btn {
  background-color: transparent;
  color: #5bc0de;
}

#ratio {
  margin-top: -3px;
  margin-bottom: 0;
}

/*newer, for forms on homepage*/

#balance-form-section, #transfer-form-section {
  padding: 0;
  table-layout: auto;
}

.toggle-btn {
  margin-top: 2em;
  margin-bottom: 1em;
}

.alert-warning {
  margin: 1em 0 0 0;
}

.btn-danger, .btn-danger:hover {
  background-color: transparent;
  color: #F96872;
  border-color: transparent;
}

th.no-space, td.no-space {
  width: 13px;
}

.dec-bottom {
  margin-bottom: 0.5em;
}


/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(images/loader-64x/Preloader_2.gif) center no-repeat #fff;
}

 /* clickable cursor */
svg image, .pointer {
       cursor:pointer;
}

.sidebar-nav li .active {
    background-color: #00A99E;
    color: ghostwhite;
    margin-right: 0;
    margin-left: 15px;
}

.fa-fw {
  width: 50px;
}

.menu-toggle.btn-default, .menu-toggle:hover, .menu-toggle:active {
  font-size: 22px;
  background-color: transparent;
  border: none;
  box-shadow: none;
  outline: none;
  color: #5bc0de;
  padding-left: 0;
}

.transfer-toggle, .update-toggle {
  border-color: #F96872;
  color: #F96872;
  background-color: transparent;
}

.transfer-toggle.active, .update-toggle.active, .transfer-toggle:hover, .update-toggle:hover, .transfer-toggle:active, .update-toggle:active  {
  background-color: #F96872;
  border-color: #F96872;
  color: #fff;
}

.results-pink,  {
  color: #F96872;
}

.results-teal {
  color: #00A99E
}

.results-orange, .npoints {
  color: #FFA800;
}

.results-blue, .results a {
  color: #3498DB;
}


#yes-btn {
  background-color: #F96872;
  border-color: #F96872;
  color: #fff;

}
