<html lang="en">
<head>
    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/css/styles.css"/>

    <script src="https://d3js.org/d3.v3.min.js"></script>
    <link rel="stylesheet" href="/static/css/D3.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.min.js"> </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/static/js/moment.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.13/af-2.1.3/fc-3.2.2/fh-3.1.2/r-2.1.0/rr-1.2.0/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.13/af-2.1.3/fc-3.2.2/fh-3.1.2/r-2.1.0/rr-1.2.0/datatables.min.js"></script>
    {{ moment.include_moment() }}
</head>

  {% block title %}
      TITLE GOES HERE VIA INHERITANCE
  {% endblock %}

<body>

<div class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" 
                  class="navbar-toggle" 
                  data-toggle="collapse" 
                  data-target=".navbar-collapse"
                  aria-expanded="false"
                  aria-controls="navbar">>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
          </button>
            <a class="navbar-brand" href="/">Koi.</a>
        </div>

        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/map">Mapping</a></li>
            {% if "user" in session %}
              <li><a href="/dashboard">Dashboard</a></li>
            {% else %}
              <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Log In</a><li>
            {% endif %}
          </ul>
       
          <ul class="nav navbar-nav navbar-right">
            {% if "user" in session %}
              <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
            {% endif %}
          </ul>
        </div>
    </div>
</div>

<div class="container">

  <!-- Show flashed messages -->
  {% with messages = get_flashed_messages() %}
      {% for message in messages %}
          <div class="alert alert-warning">{{ message }}</div>
      {% endfor %}
  {% endwith %}

  <!-- This is where the main content goes. -->
  {% block body %}
      BODY OF PAGE GOES HERE VIA INHERITANCE
  {% endblock %}

</div>

</body>
</html>
