<html lang="en">
<head>
    <!-- jQuery -->
    <script src="static/js/jquery/3.1.1/jquery.min.js"></script>
    <script src="static/js/jquery/ui/1.12.1/jquery-ui.js"></script>
    <script src="static/js/jquery/1.12.4/jquery-1.12.4.js"></script>

    <!-- D3-related -->
    <script src="static/js/d3/d3.v3.min.js"></script>
    <link rel="stylesheet" href="/static/css/D3.css"/>
    
    <!-- datatable-related -->
    <link rel="stylesheet" type="text/css" href="static/DataTables/datatables.min.css"/>
    <script type="text/javascript" src="static/DataTables/datatables.min.js"></script>

    <!-- momentJS for timestamp rendering -->
    <script src="/static/js/moment.js"></script>
    {{ moment.include_moment() }}
    
    <!-- style-related -->
    <link rel="stylesheet"
          href="/static/bootstrap-3.3.4/css/bootstrap.css"/>
    <script src="/static/bootstrap-3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" 
          href="https://fonts.googleapis.com/css?family=Lato" >
    <link rel="stylesheet" href="/static/css/styles.css"/>

</head>

  {% block title %}
      TITLE GOES HERE VIA INHERITANCE
  {% endblock %}

<body>

<div class="container">

  <!-- Show flashed messages -->
  {% with messages = get_flashed_messages() %}
      {% for message in messages %}
          <div class="alert alert-warning">{{ message }}</div>
      {% endfor %}
  {% endwith %}

  <!-- This is where the main content goes. -->
  {% block body %}
      BODY OF PAGE GOES HERE VIA INHERITANCE
  {% endblock %}

</div>

</body>
</html>
