{% extends 'base.html' %}

{% block title %}
  <title>Dashboard</title>
{% endblock%}}

{% block body %}
<div id="dashboard-page">

<div class="container-fluid">
    <div class="row" id="tabs">

        <div class="panel with-nav-tabs panel-default">
    <div class="panel-heading">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist" id="all-tabs">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
        <li role="presentation"><a href="#activities" aria-controls="activity" role="tab" data-toggle="tab">Activity</a></li>
        <li role="presentation"><a href="#visual" aria-controls="visual" role="tab" data-toggle="tab">Visualization</a></li>
        <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
      </ul>



      <!-- Tab panes -->
      <div class="tab-content">

        <!-- Div for home dash. -->
        <div role="tabpanel" class="tab-pane active" id="home">
            <div class="row">
                <section class="col-xs-12 col-md-12 col-lg-12">
                    <form id="update-balance-form" method="POST">
                        
                        <label for="all-programs">Program: </label>
                        <select name="program" id="all-programs"> 
                            {% for program in programs %}
                                <option value="{{ program.program_id }}">{{ program.program_name }}</option>
                            {% endfor %}
                        </select>
                        
                        <label for="current-balance">Current Balance: </label>
                        <input type="number" name="balance" id="current-balance" min="1" max="1000000000000" maxlength="30" placeholder="enter points" required></input>
                        
                        <input type="submit" id="submit-balance" value="Submit">
                    </form>
                </section>

                <section class="col-xs-12 col-md-5 col-lg-5">
                    <table class="table table-hover table-striped" id="program-balance">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Program</th>
                                <th>Current Balance</th>
                                <th>Last Updated</th>
                            </tr>
                        </thead>

                        {% if balances %}
                            {% for balance in balances %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ balance.program.program_name }}</td>
                                    <td>{{ balance.current_balance }}</td>
                                    <td>{{ moment(balance.updated_at).format('MMMM Do YYYY, h:mm a') }}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </table>
                </section>
            </div>
        </div>

        <script>
          "use strict";

          function appendNew(data) {
              console.log(data.program_name);
              console.log(data.current_balance);

              var index = $("#program-balance tr:last").index()

              $("#program-balance tr:last").after("<tr><td>"+(index + 1)+"</td><td>"+data.program_name+"</td><td>"+data.current_balance+"</td><td>"+moment().format('MMMM Do YYYY, h:mm a')+"</td></tr>");

            }

          function updateBalance(evt) {
              evt.preventDefault();
              console.log(1);

              var formValues = $("#update-balance-form").serialize();

              $.post("/update-balance", formValues, appendNew);
            } 

              $("#update-balance-form").submit(updateBalance);

        </script>
        <!-- End of home dash. -->

        <!-- Div for D3 dash. -->
        <div role="tabpanel" class="tab-pane" id="visual">
          <div class="row">
                  <section class="col-sm-12 col-xs-offset-1" id="top-padding">
                    <div id="d3-div"></div> 
                      <script src="/static/js/userD3.js"></script>
                  </section>
          </div>
        </div>
        <!-- End of D3 dash. -->



        <div role="tabpanel" class="tab-pane" id="activity">Activity</div>
        <div role="tabpanel" class="tab-pane" id="settings">Settings</div>
      </div>

    </div>



    </div>
</div>
</div>
</div>


      <script>
          $('#all-tabs a').click(function(e) {
          e.preventDefault();
          $(this).tab('show');
        });

        // store the currently selected tab in the hash value
        $("ul.nav-tabs > li > a").on("shown.bs.tab", function(e) {
          var id = $(e.target).attr("href").substr(1);
          window.location.hash = id;
        });

        // on load of the page: switch to the currently selected tab
        var hash = window.location.hash;
        $('#all-tabs a[href="' + hash + '"]').tab('show');
      </script>



{% endblock %}