{% extends 'base.html' %}

{% block title %}
  <title>Dashboard</title>
{% endblock%}}

{% block body %}
<div id="dashboard-page">

<div class="container-fluid">
    <div class="row" id="tabs">

        <div class="panel with-nav-tabs panel-default">
    <div class="panel-heading">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist" id="all-tabs">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
        <li role="presentation"><a href="#activity" aria-controls="activity" role="tab" data-toggle="tab">Activity</a></li>
        <li role="presentation"><a href="#visual" aria-controls="visual" role="tab" data-toggle="tab" id="visualization">Visualization</a></li>
        <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
      </ul>



      <!-- Tab panes -->
      <div class="tab-content">
        <!-- Div for home dash. -->
        <div role="tabpanel" class="tab-pane active" id="home">
            <div class="row">
                <section class="col-xs-12">

                    <input type="text" id="ajax" list="programs" placeholder="e.g. datalist">

                    <datalist id="programs">
                        {% for program in programs | sort(attribute="program_name") %}
                            <option value="{{ program.program_name }}">
                        {% endfor %}
                    </datalist>

                    <form id="update-balance-form" method="POST">
                        
                        <label for="all-programs">Program: </label>
                        <select name="program" id="all-programs"> 
                            {% for program in programs | sort(attribute="program_name") %}
                                <option value="{{ program.program_id }}">{{ program.program_name }}</option>
                            {% endfor %}
                        </select>
                        
                        <label for="current-balance">Current Balance: </label>
                        <input type="number" name="balance" id="current-balance" min="1" max="1000000000000" maxlength="30" placeholder="enter points" required></input>
                        
                        <input type="submit" id="submit-balance" value="Submit">
                    </form>
                        <input type="button" value="Refresh" class="refresh">
                </section>

                <section class="col-xs-12">
                    <table class="table table-hover table-striped" id="program-balance">
                        <thead>
                            <tr>
                                <th></th>
                                <th>#</th>
                                <th>Program</th>
                                <th>Current Balance</th>
                                <th>Last Updated</th>
                            </tr>
                        </thead>

                        {% if balances %}
                            {% for balance in balances | sort(attribute="program.program_name") %}
                                <tr id="{{ balance.program_id }}">
                                    <td class="remove"><span class="glyphicon glyphicon-minus-sign"></span></td>
                                    <td class="index">{{ loop.index }}</td>
                                    <td class="program_name">{{ balance.program.program_name }}</td>
                                    <td class="current_balance">{{ "{:,}".format(balance.current_balance) }}</td>
                                    <td class="updated_at">{{ moment(balance.updated_at).format('MMMM Do YYYY, h:mm a') }}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </table>
                </section>
            </div>
        </div>

        <!-- End of home dash. -->

        <!-- Div for D3 dash. -->
        <div role="tabpanel" class="tab-pane" id="visual">
          <div class="row">
                  <section class="col-sm-12 col-xs-offset-1" id="top-padding">
                    <div id="d3-div"></div> 
                      <script src="/static/js/userD3.js"></script>
                  </section>
          </div>
        </div>

        <!-- End of D3 dash. -->


        <!-- Div for activity dash. -->

        <div role="tabpanel" class="tab-pane" id="activity">
            <div class="row">
                <section class="col-xs-12">
                    <input type="button" value="Refresh" class="refresh">
                    <table class="table table-hover table-striped" id="program-balance">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Type</th>
                                <th>Program</th>
                                <th>Beginning Balance</th>
                                <th>Delta</th>
                                <th>Ending Balance</th>
                                <th>Timestamp</th>
                            </tr>
                        </thead>

                        {% if activities %}
                            {% for activity in activities | sort(attribute="program.program_name") %}
                                <tr id="{{ activity.program_id }}">
                                    <td class="index">{{ loop.index }}</td>
                                    <td class="action">{{ activity.action.action_type }}</td>                     
                                    <td class="program_name">{{ activity.program.program_name }}</td>
                                    <td class="beginning_balance">
                                    {% if activity.beginning_balance == 0 %}
                                        - 
                                    {% else %}
                                        {{ "{:,}".format(activity.beginning_balance) }}
                                    </td>
                                    {% endif %}  


                                    <td class="delta">
                                    {% if (activity.ending_balance - activity.beginning_balance) < 0 %}
                                        ({{ "{:,}".format((activity.ending_balance - activity.beginning_balance * -1)) }})</td>
                                    {% else %}
                                        {{ "{:,}".format(activity.ending_balance - activity.beginning_balance) }}</td>
                                    {% endif %}

                                    <td class="ending_balance">
                                    {% if activity.ending_balance == 0 %}
                                        - 
                                    {% else %}
                                        {{ "{:,}".format(activity.ending_balance) }}
                                    </td>
                                    {% endif %}  
                                    <td class="timestamp">{{ moment(activity.created_at).format('MMMM Do YYYY, h:mm a') }}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}

                    </table>
                </section>
            </div>
        </div>


        <!-- End of activity dash. -->

      
        <div role="tabpanel" class="tab-pane" id="settings">Settings</div>
      </div>

    </div>



    </div>
</div>
</div>
</div>
    <script src="/static/js/dashboard_home.js"></script>

      <script>
          $('#all-tabs a').click(function(e) {
          e.preventDefault();
          $(this).tab('show');
        });

        // store the currently selected tab in the hash value
        $("ul.nav-tabs > li > a").on("shown.bs.tab", function(e) {
          var id = $(e.target).attr("href").substr(1);
          window.location.hash = id;
        });

        // on load of the page: switch to the currently selected tab
        var hash = window.location.hash;
        $('#all-tabs a[href="' + hash + '"]').tab('show');
      </script>


{% endblock %}