{% extends 'base.html' %}

{% block title %}
  <title>
  Welcome to Koi
  </title>
{% endblock%}}

{% block body %}
  <body>

    <header class="intro-container row intro-header">

      <section class="intro-message col-xs-5 col-xs-offset-2">
        <h1>Koi</h1>
        <h3>Smart, optimal tracking</h3>
        <h4>We're here to help you achieve your rewards goals. 
            Koi maps out how the programs relate to each other,
            so you don't have to.</h4>


        {% if "user" in session %}

        <!-- Modal button for login form -->
        <button class="btn btn-md btn-primary"
                id="dashboard-btn" 
                >My Dashboard
        </button>

        {% else %}

        <!-- Modal button for login form -->
        <button class="btn btn-md btn-primary login-btn" 
                data-toggle="modal" 
                data-target="#login-modal"
                id="login-btn">Get Started
        </button>

        {% endif %}

        <!-- Modal -->
        <div id="login-modal" class="modal fade" role="dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-body">
                <div>
                   <section class="col-xs-12 login-section">
                     <form name="login-form" id="login-form" autocomplete="off" method="POST">

                      <div class="form-group">
                          <label for="email-field" class="sr-only">Email Address</label>
                          <input type="email"
                                 name="email"
                                 id="email-field"
                                 class="form-control input-lg"
                                 placeholder="Email Address"
                                 required
                                 autofocus>
                      </div>

                      <div class="form-group">
                          <label for="password-field" class="sr-only">Password</label>
                          <input type="password"
                                 name="password"
                                 id="password-field"
                                 class="form-control input-lg"
                                 placeholder="Password"
                                 required>
                      </div>

                      <button class="btn btn-lg btn-primary btn-block" 
                              id="submit-login-btn" disabled>
                        <span class="glyphicon glyphicon-send fa-fw"></span>  Sign In
                      </button>
                      
                    </form>

                  </section>
                </div>
              </div>
            </div>
          <h5>Don't have an account? Click <a href="/register">here</a> to sign up</h5>
        </div>
      </section>

    </header>

    <script src="/static/js/homepage.js"></script>

    <!-- Start of About page -->
    <header class="about-container row about-header">


        <div id="home-d3-div" class="col-xs-12">
          V<span>i</span>sual<span>i</span>ze</div> 
        <script src="/static/js/homeD3.js"></script>


    </header>


  </body>
{% endblock %}
