{% extends 'base.html' %}

{% block title %}
  <title>
  Welcome to Koi
  </title>
{% endblock%}}

{% block body %}
  <body>

    <header class="intro-container row intro-header">

    {% with messages = get_flashed_messages() %}
      {% for message in messages %}

    <div class="row homepage-flash-row">
      <section class="homapage-flash col-xs-12">
      
            <div class="alert alert-warning">{{ message }}</div>

        </section>
    </div>
      {% endfor %}
    {% endwith %}

      <section class="intro-message col-xs-5 col-xs-offset-2">
        <h1>Koi</h1>
        <h3>Smart, optimal tracking</h3>
        <h4>We're here to help you achieve your rewards goals. 
            Koi maps out how the programs relate to each other,
            so you don't have to.</h4>


        {% if "user" in session %}

        <!-- Modal button for login form -->
        <button class="btn btn-md btn-primary"
                id="dashboard-btn" 
                >My Dashboard
        </button>

        {% else %}

        <!-- Modal button for login form -->
        <button class="btn btn-md btn-primary login-btn" 
                data-toggle="modal" 
                data-target="#login-modal"
                id="login-btn">Get Started
        </button>

        {% endif %}

        <!-- Modal -->
        <div id="login-modal" class="modal fade" role="dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-body">
                <div>
                   <section class="col-xs-12 login-section">
                     <form name="login-form" id="login-form" autocomplete="off" method="POST">

                      <div class="form-group">
                          <label for="email-field" class="sr-only">Email Address</label>
                          <input type="email"
                                 name="email"
                                 id="email-field"
                                 class="form-control input-lg"
                                 placeholder="Email Address"
                                 required
                                 >
                      </div>

                      <div class="form-group">
                          <label for="password-field" class="sr-only">Password</label>
                          <input type="password"
                                 name="password"
                                 id="password-field"
                                 class="form-control input-lg"
                                 placeholder="Password"
                                 required>
                      </div>

                      <button class="btn btn-lg btn-primary btn-block" 
                              id="submit-login-btn" disabled>
                        <span class="glyphicon glyphicon-send fa-fw"></span>  Sign In
                      </button>
                      
                    </form>

                  </section>
                </div>
              </div>
            </div>
          <h5>Don't have an account? Click <a href="/register">here</a> to sign up</h5>
        </div>
      </section>

    </header>

    <!-- Start of About -->
    <header class="about-container row about-header">

        <section id="home-d3-div" class="col-xs-12 col-md-6">
          V<span>i</span>sual<span>i</span>ze</section> 
        <script src="/static/js/homeD3.js"></script>

        <section class="col-xs-12 col-md-6">
          <p> Placeholder </p>
        </section>

    </header>

    <!-- End About -->

    <!-- Start of Contact Us page -->
    <header class="contact-container row contact-header">

      <div class="row contact-row">

      <section id="contact-us-div" class="contact-message col-xs-4 col-xs-offset-4">
        Contact Us

        <form id="feedback-form" action="/contact" method="POST" autocomplete="off">

          <div class="form-group">
              <label for="email-field" class="sr-only">Email Address</label>
              <input type="email"
                     name="email"
                     class="form-control input-lg"
                     placeholder="Email Address"
                     required
                     >
          </div>

          <div class="form-group">
              <label for="feedback-type" class="sr-only">Feedback Category</label>
              <select class="form-control" name="feedback-type" id="feedback-type">
                <option value="0" selected>Choose Category...</option>
                {% for category in menu %}
                 <option value="{{ category.category_id }}">{{ category.category_name }}</option>
                {% endfor %}
              </select>
            </div>

            <!-- I don't see my program -->
            <div class="category-1 all-feedback"  style="display: none">
              <div class="form-group">
                  <label for="vendor-field" class="sr-only">Vendor: </label>
                  <input type="text"
                         name="vendor"
                         class="form-control input-lg"
                         placeholder="Vendor Name"
                         >
              </div>

              <div class="form-group">
                  <label for="program-field" class="sr-only">Program: </label>
                  <input type="text"
                         name="program"
                         class="form-control input-lg"
                         placeholder="Program Name"
                         >
              </div>
            </div>
            <!-- Report Ratio -->
            <div class="category-2 all-feedback"  style="display: none">
              <div class="form-group">
                  <label for="outgoing-field" class="sr-only">Program 1: </label>
                  <input type="text"
                         name="outgoing"
                         class="form-control input-lg"
                         placeholder="Outgoing program"
                         >
              </div>

              <div class="form-group">
                  <label for="receiving-field" class="sr-only">Program 2: </label>
                  <input type="text"
                         name="receiving"
                         class="form-control input-lg"
                         placeholder="Receiving program"
                         >
              </div>

              <div class="form-group ratio-group">
                  <label for="denominator-field" class="sr-only">Numerator</label>
                  <input type="number"
                         style="width:150px"
                         name="denominator"
                         placeholder="1"
                         class="input-lg"
                         >
                         <span id="ratio-colon">:</span>
                  <label for="numerator-field" class="sr-only">Denominator</label>
                  <input type="number"
                         style="width:150px"
                         name="numerator"
                         placeholder="3"
                         class="input-lg"
                         >
              </div>
            </div>

            <!-- New Feature & Other Feedback -->
            <div class="form-group all-feedback category-3 category-4" style="display:none">
                <label for="feedback-field"></label>
                <textarea rows="9" 
                          cols="100"
                          name="feedback"
                          class="form-control input-lg"
                          placeholder="We'd love to hear from you!"
                          ></textarea>
            </div>

              <button class="btn btn-lg btn-primary btn-block" 
                      type="submit" style="display:none" id="submit-feedback-btn">
                <span class="glyphicon glyphicon-send fa-fw"></span>  Submit
              </button>

        </form>
      </section>
    </header>

    <footer id="footer">
      <div class="container">
        <p id="footer-text"><a href="https://github.com/linvivian7/koi" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></p>
      </div>
    </footer>

    <!-- End Contact Us -->

    <script src="/static/js/homepage.js"></script>


  </body>
{% endblock %}
