{% extends 'base.html' %}

{% block title %}
  <title>
  {% if "user" in session %}
  Dashboard
  {% else %}
  Welcome to Koi
  {% endif %}
  </title>
{% endblock%}}

{% block body %}
<body class="header">

{% if "user" in session %}
<div class="container-fluid">
    <div class="row" id="tabs">

    <div class="panel with-nav-tabs panel-default">
    <div class="panel-heading">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist" id="all-tabs">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
        <li role="presentation"><a href="#activity" aria-controls="activity" role="tab" data-toggle="tab">Activity</a></li>
        <li role="presentation"><a href="#visual" aria-controls="visual" role="tab" data-toggle="tab" id="visualization">Visualization</a></li>
        <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
      </ul>


      <!-- Tab panes -->
      <div class="tab-content">
        <!-- Div for home dash. -->
        <div role="tabpanel" class="tab-pane active" id="home">
            <div class="row">
                <section class="col-xs-4">

                    <form id="update-balance-form" method="POST" autocomplete="off">
                        
                        <label for="program">Update </label>

                        <input type="text" id="program" list="all-programs" placeholder="Select program" required>

                        <datalist id="all-programs">
                            {% for program in programs | sort(attribute="program_name") %}
                                <option data-value="{{ program.program_id }}" value="{{ program.program_name }}">
                            {% endfor %}
                        </datalist>
                        <br>
                        <label for="current-balance">Balance: </label>
                        <input type="number" name="balance" id="current-balance" min="1" max="1000000000000" maxlength="30" placeholder="Enter points" required></input>

                        <input type="reset" class="reset-btn" value="Reset">
                        <input type="submit" id="submit-balance" value="Submit">

                    </form>
                </section>

                <section class="col-xs-5">

                    <form id="transfer-form" method="POST" autocomplete="off">
                        
                        <label for="outgoing">Transfer </label>
                        <input type="text" id="outgoing" list="all-outgoing-programs" placeholder="Select program" required>


                        <datalist id="all-outgoing-programs">
                            {% for program in outgoing %}
                                <option data-value="{{ program.outgoing_program }}" value="{{ program.outgoing.program_name }}">
                            {% endfor %}
                        </datalist>
                        
                        <label for="receiving">To </label>
                        <input type="text" id="receiving" list="all-receiving-programs" placeholder="Select program" required>

                        <datalist id="all-receiving-programs">
                        </datalist>

                        <label id="ratio" hidden></label>
                        <br>
                        <label for="transfer-amount">Amount: </label>
                        <input type="number" name="balance" id="transfer-amount" min="1" max="1000000000000" maxlength="30" placeholder="Enter points" required></input>

                        <input type="reset" class="reset-btn" value="Reset">
                        <input type="submit" id="submit-balance" value="Submit">
                    </form>

                </section>
                <section class="col-xs-2 col-xs-offset-1">

                    <!-- Trigger the modal with a button -->
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#transferModal" id="transferBtn">?</button>

                    <!-- Modal -->
                    <div id="transferModal" class="modal fade" role="dialog">
                      <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">

                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Don't see your program listed? Let us know!</h4>
                          </div>

                          <div class="modal-body">
                            <form action="/" method="POST" autocomplete="off">
                              <div class="form-group">
                                  <label for="modal-program-1" class="sr-only">Program 1: </label>
                                  <input type="text"
                                         name="program-1"
                                         class="form-control input-lg"
                                         placeholder="Outgoing program"
                                         autofocus>
                              </div>

                              <div class="form-group">
                                  <label for="modal-program-2" class="sr-only">Program 2: </label>
                                  <input type="text"
                                         name="program-2"
                                         class="form-control input-lg"
                                         placeholder="Receiving program"
                                         autofocus>
                              </div>

                              <div class="form-group">
                                  Ratio:
                                  <label for="modal-program-2" class="sr-only">Numerator</label>
                                  <input type="number"
                                         name="numerator"
                                         class="form-control input-lg"
                                         autofocus>
                               to

                                  <label for="modal-program-2" class="sr-only">Denominator</label>
                                  <input type="number"
                                         name="denominator"
                                         class="form-control input-lg"
                                         autofocus>
                              </div>

                              <div class="form-group">
                                Other feedback:
                                  <label for="feedback-field"></label>
                                  <textarea rows="5" 
                                            cols="50"
                                            name="feedback"
                                            class="form-control input-lg"
                                            placeholder="We'd love to hear from you!"
                                            autofocus></textarea>
                              </div>
                              <button class="btn btn-lg btn-primary btn-block" type="submit">
                                <span class="glyphicon glyphicon-send fa-fw"></span>  Submit
                              </button>
                            </form>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>

                      </div>
                    </div>
                    <!-- Modal End-->
                        
                    <input type="button" value="Refresh" class="refresh">
                </section>


                <section class="col-xs-12">
                    <table class="table table-hover table-striped" id="program-balance">
                        <thead>
                            <tr>
                                <th></th>
                                <th>#</th>
                                <th>Program</th>
                                <th>Current Balance</th>
                                <th>Last Updated</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th>#</th>
                                <th>Program</th>
                                <th>Current Balance</th>
                                <th>Last Updated</th>
                            </tr>
                        </tfoot>
                        <tbody>
                        {% if balances %}
                            {% for balance in balances | sort(attribute="program.program_name") %}
                                <tr id="{{ balance.program_id }}">
                                    <td class="remove"><span class="glyphicon glyphicon-minus-sign"></span></td>
                                    <td class="index">{{ loop.index }}</td>
                                    <td class="program_name">{{ balance.program.program_name }}</td>
                                    <td class="current_balance">{{ "{:,}".format(balance.current_balance) }}</td>
                                    <td class="updated_at">{{ moment(balance.updated_at).format('M/D/YYYY, h:mm a') }}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                    </table>
                </section>
            </div>
        </div>

        <!-- End of home dash. -->

        <!-- Div for D3 dash. -->
        <div role="tabpanel" class="tab-pane" id="visual">
          <div class="row">
                  <section class="col-sm-12 col-xs-offset-1" id="top-padding">
                    <div id="d3-div"></div> 
                      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

                      <!-- local JS -->
                      <script src="/static/js/userD3.js"></script>
                  </section>
          </div>
        </div>

        <!-- End of D3 dash. -->

        <!-- Div for activity dash. -->

        <div role="tabpanel" class="tab-pane" id="activity">
            <div class="row"  id="activity-section">
                <section class="col-xs-12">

                    <input type="button" value="Refresh" class="refresh">
                    <table class="table table-hover table-striped" 
                           id="transaction-history" class="display" cellspacing="0" width="100%">

                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Type</th>
                                <th>Program</th>
                                <th>Beginning</th>
                                <th>Change</th>
                                <th>Ending</th>
                                <th>Timestamp</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>#</th>
                                <th>Type</th>
                                <th>Program</th>
                                <th>Beginning</th>
                                <th>Change</th>
                                <th>Ending</th>
                                <th>Timestamp</th>
                            </tr>
                        </tfoot>

                        {% if activities %}
                            {% for activity in activities | sort(attribute="created_at", reverse=True) %}
                                <tr id="{{ activity.program_id }}">
                                    <td class="index">{{ loop.index }}</td>
                                    <td class="action">{{ activity.action.action_type }}</td>                     
                                    <td class="program_name">{{ activity.program.program_name }}</td>
                                    <td class="beginning">
                                    {% if activity.beginning_balance == 0 %}
                                        - 
                                    {% else %}
                                        {{ "{:,}".format(activity.beginning_balance) }}
                                    </td>
                                    {% endif %}  


                                    <td class="change">
                                    {% if (activity.ending_balance - activity.beginning_balance) < 0 %}
                                        ({{ "{:,}".format((activity.beginning_balance - activity.ending_balance)) }})</td>
                                    {% else %}
                                        {{ "{:,}".format(activity.ending_balance - activity.beginning_balance) }}</td>
                                    {% endif %}

                                    <td class="ending">
                                    {% if activity.ending_balance == 0 %}
                                        - 
                                    {% else %}
                                        {{ "{:,}".format(activity.ending_balance) }}
                                    </td>
                                    {% endif %}  
                                    <td class="timestamp">{{ moment(activity.created_at).format('M/D/YYYY, h:mm a') }}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}

                    </table>
                </section>
            </div>
        </div>


        <!-- End of activity dash. -->

      
        <div role="tabpanel" class="tab-pane" id="settings"></div>
      </div>

    </div>



    </div>
</div>
</div>
    <script src="/static/js/dashboard_update.js"></script>
    <script src="/static/js/dashboard_transfer.js"></script>
    <script src="/static/js/dashboard_activity.js"></script>

      <script>
          $('#all-tabs a').click(function(e) {
          e.preventDefault();
          $(this).tab('show');
        });

        // store the currently selected tab in the hash value
        $("ul.nav-tabs > li > a").on("shown.bs.tab", function(e) {
          var id = $(e.target).attr("href").substr(1);
          window.location.hash = id;
        });

        // on load of the page: switch to the currently selected tab
        var hash = window.location.hash;
        $('#all-tabs a[href="' + hash + '"]').tab('show');
      </script>

{% else %}

  {% if "user" in session %}
    <div>
      <a class="btn" href="/dashboard">Take me to my dashboard</a>
    </div>
  {% else %}
  <div class="transparent">
    <form class="form-signup" action="/" method="POST" autocomplete="off">

        <div class="form-group">
          <label for="fname-field" class="sr-only">First Name</label>
          <input type="text"
                 name="fname"
                 class="form-control input-lg"
                 placeholder="First Name"
                 required
                 autofocus>
          <span class="help-block"></span>
        </div>

        <div class="form-group">
          <label for="lname-field" class="sr-only">Last Name</label>
          <input type="text"
                 name="lname"
                 class="form-control input-lg"
                 placeholder="Last Name"
                 required
                 autofocus>
        </div>

        <div class="form-group">
            <label for="email-field" class="sr-only">Email Address</label>
            <input type="email"
                   name="email"
                   class="form-control input-lg"
                   placeholder="Email Address"
                   required
                   autofocus>
        </div>

        <div class="form-group">
            <label for="password-field" class="sr-only">Password</label>
            <input type="password"
                   name="password"
                   class="form-control input-lg"
                   placeholder="Password"
                   required>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit" text>
          <span class="glyphicon glyphicon-send fa-fw"></span> Sign Up Today
        </button>

        <h5>Already have an account? Click <a href="/login">here</a> to log in</h5>

    </form>
  </div>

{% endif %}
{% endif %}

{% endblock %}
