{% extends 'base.html' %}

{% block title %}
  <title>
  Koi Dashboard
  </title>
{% endblock%}}

{% block body %}
   <div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand"><a href="/">Koi</a></li>
        <li><a href="/dashboard">Main<span></span></a></li>
        <li><a href="/activity">Activity<span></span></a></li>
        <li><a href="/optimize">Optimize<span></span></a></li>
        <li><a href="/logout">Log Out<span></span></a></li>
      </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
              <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>

              <form id="optimization-form" action="POST">
                <h5 id="first-statement"> I would like to have <input type="number" name="balance" id="goal-amount" min="1" max="1000000000" maxlength="10" placeholder="Goal Points" required></input> points with 
                <input type="text" id="goal-program" list="all-programs" placeholder="Select program" required>.</h5>

                <datalist id="all-programs">
                  {% for program in programs | sort(attribute="program_name") %}
                    <option data-value="{{ program.program_id }}" value="{{ program.program_name }}">
                  {% endfor %}
                </datalist>

                <input type="reset" id="reset-optimize-btn" value="Reset">
                <input type="submit" id="run-optimize" value="Run Optimization" disabled>

              </form>                      
          <script src="/static/js/dashboard_optimize.js"></script>
          </div>
        </div>
      </div>
    <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
     <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

{% endblock%}}
