{% extends 'base.html' %}

{% block title %}
  <title>
  Koi Dashboard
  </title>
{% endblock%}}

{% block body %}
   <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"><a href="/">Koi</a></li>
                <li><a href="/dashboard"><i class="fa fa-fw fa-tachometer" aria-hidden="true"></i>Main</a></li>
                <li><a href="/activity"><i class="fa fa-fw fa-history" aria-hidden="true"></i>Activity</a></li>
                <li><a href="/transfers"><i class="fa fa-fw fa-arrows-h" aria-hidden="true"></i>Transfers</a></li>
                <li><a href="/optimize"><i class="fa fa-fw fa-flag-checkered" aria-hidden="true"></i>Optimize</a></li>
                <li><a href="/process"><i class="fa fa-fw fa-info-circle" aria-hidden="true"></i>Our Process</a></li>
                <li><a href="/logout"><i class="fa fa-fw fa-sign-out" aria-hidden="true"></i>Log Out</a></li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="container-fluid">

        <div class="row">

          <div class="col-xs-7">
              <a href="#menu-toggle" class="btn btn-default menu-toggle"><i class="fa fa-toggle-on" aria-hidden="true"></i></a>
              <a href="#menu-toggle" class="btn btn-default menu-toggle" style="display: none"><i class="fa fa-toggle-off" aria-hidden="true"></i></a>
            
              <form id="optimization-form" action="POST">
                <h4> Thank you for using Koi </h4>

                <div class="form-group">
                  <label for="goal-program"><h5 id="statement-1"> Which program would you like to optimize points for?</h5></label><br>
                  <select class="form-control" name="goal-program" id="goal-program">
                    {% for program in programs | sort(attribute="program_name") %}
                      <option value="{{ program.program_id }}">{{ program.vendor.vendor_name }} | {{ program.program_name }}</option>
                    {% endfor %}
                  </select>
                </div>

                <input type="reset" class="btn btn-info reset-btn" id="reset-optimize-btn" value="Reset">
                <button type="submit" class="btn btn-info" id="run-optimize" disabled>Run Optimization</button>

                <div id="optimization-results"></div>

              </form>                      
       
          </div>
          <div class="col-xs-5" id="d3-div"></div> 
        </div>
      </div>
    <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
     <!-- Menu Toggle Script -->
    <script>
    $(".menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

    <script type='text/javascript' src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"> </script>
    <script src="/static/js/dashboard_optimize.js"></script>
    <script src="/static/js/userD3.js"></script>

    <div class="se-pre-con"></div>
{% endblock%}}
