{% extends 'base.html' %}

{% block title %}
  <title>
  Koi Dashboard
  </title>
{% endblock%}}

{% block body %}
   <div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand"><a href="/">Koi</a></li>
            <li><a href="/dashboard"><i class="fa fa-fw fa-tachometer" aria-hidden="true"></i>Main</a></li>
            <li><a href="/activity"><i class="fa fa-fw fa-history" aria-hidden="true"></i>Activity</a></li>
            <li><a href="/transfers"><i class="fa fa-fw fa-arrows-h" aria-hidden="true"></i>Transfers</a></li>
            <li><a href="/optimize"><i class="fa fa-fw fa-flag-checkered" aria-hidden="true"></i>Optimize</a></li>
            <li><a href="/process"><i class="fa fa-fw fa-info-circle" aria-hidden="true"></i>Our Process</a></li>
            <li><a href="/logout"><i class="fa fa-fw fa-sign-out" aria-hidden="true"></i>Log Out</a></li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
              <a href="#menu-toggle" class="btn btn-default menu-toggle"><i class="fa fa-toggle-on" aria-hidden="true"></i></a>
              <a href="#menu-toggle" class="btn btn-default menu-toggle" style="display: none"><i class="fa fa-toggle-off" aria-hidden="true"></i></a>

              <h3 class="table-title"> My Transfers </h3>
              <table class="table-hover table-striped" id="transfer-history" style="display:none;" cellspacing="0" width="100%">
                <tfoot>
                    <tr>
                      <th></th>
                      <th>From</th>
                      <th>Transferred Points</th>
                      <th>Ratio</th>
                      <th>To</th>
                      <th>Received Points</th>
                      <th></th>
                    </tr>
                </tfoot>
              </table>


          <script src="/static/js/dashboard_transfers.js"></script>
          </div>
        </div>
      </div>
    <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
     <!-- Menu Toggle Script -->
    <script>
    $(".menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

    <div class="se-pre-con"></div>

{% endblock%}}
